*{
    margin: 0;
    padding: 0;
}

.cardsContainer{
    margin: 0 auto;
}

.card{
    cursor: pointer;
}

.textoLogo{
    margin: 7% 10%;
}

.logoImg{
    transition: transform 0.3s ease-in-out;
}

.logoImg:hover{
    transform: rotate(30deg);
}

.countDisplayContainer{
    display: inline-block;
    padding: 2% 5%;    
    color: rgba(0, 0, 0, 0.384);
    border-radius: 5px;
    background-color:rgba(211, 211, 211, 0.253);
}

#imgPizza, #imgPizza2{
    height: 400px;
    width: 200px;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.2));
    filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.2));
    margin: 3px;
}

.imgContainer{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.buttons__container{
    display: flex;
    justify-content: center
}

.buttons__item{
    padding: 15px;
    margin: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
}

.buttons__item:hover{
    background-color: rgb(247, 247, 247);
}

.shopping-cart-header {
    border-bottom: 1px solid #ccc;
  }

.shopping-cart-quantity-input {
    max-width: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
  }

  .shoppingCartTotal{
      font-size: 25px;
      margin-bottom: 15px;
      padding: 50px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.144);
  }

  .shoppingCart{
      padding-top: 50px;
  }

  .pedido{
    font-size: 25px;
    font-weight: 50;
    padding-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.144);
  }



/* .cardsContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 70px 0;
} */

@media (max-width: 576px){

    #imgPizza, #imgPizza2{
        height: 300px;
        width: 150px;
    }

    .buttons__item{
        display: flex;
        justify-content: center;
        padding: 15px;
        margin: 15px auto;
    }
}